In [2]:
from pandas import read_csv

In [3]:
data = read_csv("../data/bikesharing.csv")

In [4]:
type(data)

pandas.core.frame.DataFrame

In [3]:
!pip install -r ../requirements.txt

Requirement already satisfied: pandas==2.2.3 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from -r ../requirements.txt (line 1)) (2.2.3)
Requirement already satisfied: scikit-learn==1.6.1 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from -r ../requirements.txt (line 2)) (1.6.1)
Requirement already satisfied: scipy==1.15.3 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from -r ../requirements.txt (line 3)) (1.15.3)
Requirement already satisfied: matplotlib==3.10.3 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from -r ../requirements.txt (line 4)) (3.10.3)
Requirement already satisfied: seaborn==0.13.2 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from -r ../requirements.txt (line 5)) (0.13.2)
Requirement already satisfied: numpy>=1.26.0 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from pandas==2.2.3->-r ../requirements.txt (line 1)) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from pandas==2.2.3->-r ../requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from pandas==2.2.3->-r ../requirements.txt (line 1)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from pandas==2.2.3->-r ../requirements.txt (line 1)) (2025.2)
Requirement already satisfied: joblib>=1.2.0 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from scikit-learn==1.6.1->-r ../requirements.txt (line 2)) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from scikit-learn==1.6.1->-r ../requirements.txt (line 2)) (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from matplotlib==3.10.3->-r ../requirements.txt (line 4)) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from matplotlib==3.10.3->-r ../requirements.txt (line 4)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from matplotlib==3.10.3->-r ../requirements.txt (line 4)) (4.58.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from matplotlib==3.10.3->-r ../requirements.txt (line 4)) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from matplotlib==3.10.3->-r ../requirements.txt (line 4)) (25.0)
Requirement already satisfied: pillow>=8 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from matplotlib==3.10.3->-r ../requirements.txt (line 4)) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from matplotlib==3.10.3->-r ../requirements.txt (line 4)) (3.2.3)
Requirement already satisfied: six>=1.5 in /workspaces/DataScienceUE/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas==2.2.3->-r ../requirements.txt (line 1)) (1.17.0)

## Daten in Pandas laden

In [ ]:
from pandas import read_csv

In [6]:
read_csv("../data/fake_profiles.csv")

     Unnamed: 0 profile_pic  ...  num_follows  is_fake
0             0         yes  ...          955       no
1             1         yes  ...          533       no
2             2         yes  ...           98       no
3             3         yes  ...          651       no
4             4         yes  ...          126       no
..          ...         ...  ...          ...      ...
571         571         yes  ...          596      yes
572         572         yes  ...           75      yes
573         573         yes  ...          339      yes
574         574         yes  ...           73      yes
575         575         yes  ...          487      yes

[576 rows x 13 columns]

In [12]:
data = read_csv(
    "../data/fake_profiles.csv",
    sep=",",
    decimal=".",
    skiprows=None, # [0, 1, 10]
    usecols=range(1, 13)
    )
data.head(5)

  profile_pic  rel_num_numeric_char_username  ...  num_follows  is_fake
0         yes                           0.27  ...          955       no
1         yes                           0.00  ...          533       no
2         yes                           0.10  ...           98       no
3         yes                           0.00  ...          651       no
4         yes                           0.00  ...          126       no

[5 rows x 12 columns]